.NewQuote {
  margin: 20px;
  text-align: left;
}

.PageTitle {
  margin-left: 20px;
}

.NewQuoteForm p {
  margin: 20px 0 10px 10px;
}

.NewQuoteForm .FormField {
  width: 300px;
  padding: 4px;
  border: 1px solid #333;
  border-radius: 4px;
  outline: none;
}

.NewQuoteForm .TextArea {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 200px;
  display: block;
}

.NewQuoteForm .FormBtn {
  margin: 20px;
}