.QuotesCentral {
  padding-top: 20px;
  overflow: hidden;
  border-bottom: 2px solid #333;
}

.Logo {
  float: left;
  margin-left: 20px;
}

.ControlMenu {
  list-style: none;
  float: right;
}

.ControlMenu li {
  display: inline-block;
  cursor: default;
  border-right: 1px solid #333;
}

.ControlMenu li:last-child {
  border-right: none;
}

.ControlMenu .Nav-Item {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 0 15px;
  cursor: pointer;
  text-decoration: underline;
}

.ControlMenu .Nav-Item:hover {
  color: saddlebrown;
}

.ControlMenu .Selected {
  color: saddlebrown;
}