.MainNav {
  width: 200px;
  margin: 0;
  padding: 20px 0;
  text-align: left;
  float: left;
}

.MainNav li {
  list-style: none;
  padding: 3px;
}

.MainNav .Nav-Item {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 0 15px;
  cursor: pointer;
  text-decoration: underline;
}

.MainNav .Nav-Item:hover {
  color: saddlebrown;
}

.MainNav .Selected {
  color: saddlebrown;
}