.QuoteBox {
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
}

.QuoteControl {
  float: right;
  font-size: 30px;
}

.QuoteEdit {
  color: blue;
  cursor: pointer;
}

.QuoteDelete {
  color: red;
  margin-left: 10px;
  cursor: pointer;
}

.QuoteText {
  float: left;
}

.QuoteAuthor {
  clear: left;
  float: left;
}